<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="format-detection" content="telephone=no" />
    <style>
      a {
        color: #5c7cd2;
        text-decoration: none;
      }
    </style>
  </head>

  <body style="margin: 24px; font-family: sans-serif">
    <div>
      <div style="margin-bottom: 60px">
        <h1>YouTube Recommendation Scraper</h1>
        <h2>test project</h2>
        <p>2022-05-21T23:06:10.619-04:00</p>
      </div>
      <div>
        <div style="margin-bottom: 60px">
          <h3 style="border: 1px solid; padding: 6px; width: fit-content; border-radius: 4px">
            REM
          </h3>
          <table style="width: 100%">
            <thead style="text-align: left">
              <th style="width: 20px; text-align: center">🏆</th>
              <th style="width: 60px; text-align: center">🎈</th>
              <th>Title</th>
              <th>Views</th>
              <th>Likes</th>
              <th>Channel</th>
            </thead>
            <tbody>
              <tr>
                <td style="text-align: center">1</td>
                <td style="text-align: right; padding-right: 25px">1</td>
                <td>
                  <a href="https://www.youtube.com/watch?v=xwtdhWltSIg">
                    R.E.M. - Losing My Religion (Official Music Video)
                  </a>
                </td>
                <td>96M</td>
                <td>3.6M</td>
                <td>remhq</td>
              </tr>
              <tr>
                <td style="text-align: center">2</td>
                <td style="text-align: right; padding-right: 25px">1</td>
                <td>
                  <a href="https://www.youtube.com/watch?v=5rOiW_xY-kc">
                    R.E.M. - Everybody Hurts (Official Music Video)
                  </a>
                </td>
                <td>115M</td>
                <td>739k</td>
                <td>remhq</td>
              </tr>
            </tbody>
          </table>
          <div style="margin-top: 12px; font-size: 0.9rem; opacity: 0.7">
            <span>and 1 more</span>
          </div>
        </div>

        <div style="margin-bottom: 60px">
          <h3 style="border: 1px solid; padding: 6px; width: fit-content; border-radius: 4px">
            Kiasmos
          </h3>
          <table style="width: 100%">
            <thead style="text-align: left">
              <th style="width: 20px; text-align: center">🏆</th>
              <th style="width: 60px; text-align: center">🎈</th>
              <th>Title</th>
              <th>Views</th>
              <th>Likes</th>
              <th>Channel</th>
            </thead>
            <tbody>
              <tr>
                <td style="text-align: center">1</td>
                <td style="text-align: right; padding-right: 25px">1</td>
                <td>
                  <a href="https://www.youtube.com/watch?v=4fHw4GeW3EU">
                    Kiasmos - Full Performance (Live on KEXP)
                  </a>
                </td>
                <td>3.7M</td>
                <td>50k</td>
                <td>KEXP</td>
              </tr>

              <tr>
                <td style="text-align: center">2</td>
                <td style="text-align: right; padding-right: 25px">1</td>
                <td>
                  <a href="https://www.youtube.com/watch?v=F91YsVxz9bA">
                    Kiasmos - Kiasmos (Full Album)
                  </a>
                </td>
                <td>81k</td>
                <td>981</td>
                <td>Mt. Sound</td>
              </tr>
            </tbody>
          </table>
          <div style="margin-top: 12px; font-size: 0.9rem; opacity: 0.7">
            <span>and 1 more</span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
